<input type="text" [(ngModel)]='power'>
<p>
  {{power}}² = {{power | exponencial}}
</p>



<!-- <input type="text" [(ngModel)]="title">

{{title}}
<div *ngIf="title === 'benis' ">
  :DDDDDDDDDDDDDDDDDDDDD
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'benis1'">Este es Benis 1</p>
  <p *ngSwitchCase="'benis2'">Este es Benis 2</p>
  <p *ngSwitchCase="'benis3'">Este es Benis 3</p>
  <p *ngSwitchDefault> No hay </p>
</div> -->

<!-- <button (click)="addItem()">Add item</button>
<ul>
  <li *ngIf='items.length === 0'>
    La lista está vacía
  </li>
  <li *ngFor="let name of items; index as i ">
    {{i}} {{name}}
    <button (click)=deleteItem(i)>delete</button>
  </li>
</ul> -->

<div class="product-grid">
  <app-product *ngFor="let product of products" (addedCart)="addedToCart($event)" [product]="product">
  </app-product>
</div>